:root {
    font-size: 62.5%;
    --general-theme-bgcolor: #3b82f6;
    --general-theme-color: #000;
    --general-theme-font: sans-serif;
    --shelf-theme-bgcolor: #b45309;
    --shelf-item-theme-bgcolor: #27272a;
    --default-theme-bgcolor: #FFF;
    --default-theme-color: #000;
    --fade-theme-bgcolor: #e5e7eb;
    --valid-theme-bgcolor: #22c55e;
    --invalid-theme-bgcolor: #dc2626;
    --largest-font-size: 2rem;
    --larger-font-size: 1.8rem;
    --normal-font-size: 1.6rem;
    --general-border-radius: 2rem;

    --grid-min-size: 30rem;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

.container div {
    padding: 1.5rem;
    font-size: var(--normal-font-size);
    font-family: var(--general-theme-font);
    z-index: 0;
}

.container {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    justify-content: flex-start;
    z-index: 0;
}

button {
    cursor: pointer;
}

button:active {
    transform: scale(0.97);
}

button.account {
    width: 10rem;
    height: 4rem;
    font-weight: bold;
    border-radius: var(--general-border-radius);
}

div.main>h2 {
    text-align: start;
}

div.main {
    background-color: var(--fade-theme-bgcolor);
    flex: 1;
    display: flex;
    flex-direction: column;
    min-height: calc(100% - 10vh - 10vh);
}

div.section {
    --shelf-padding-and-gap: 2.5rem;

    padding: var(--shelf-padding-and-gap);
    background-color: var(--shelf-theme-bgcolor);
    border-radius: var(--general-border-radius);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
    grid-template-rows: repeat(auto-fill, minmax(var(--grid-min-size), 1fr));
    grid-auto-rows: minmax(var(--grid-min-size), 1fr);
    gap: var(--shelf-padding-and-gap);
}

div.hole {
    background-color: var(--shelf-item-theme-bgcolor);
    display: grid;
    place-items: center;
    border-radius: var(--general-border-radius);
    z-index: 0;
}

button.add {
    background-color: inherit;
    width: 5rem;
    height: 5rem;
    background: url('book-plus.png') no-repeat center;
    border: 3px dashed var(--default-theme-bgcolor);
    border-radius: 50%;
}

button.add:hover {
    background: url('book-plus-outline.png') no-repeat center;
    background-color: var(--default-theme-bgcolor);
    border: 3px dashed var(--default-theme-color);
}

div.overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: grid;
    place-items: center;
}

div.prompt {
    background-color: var(--default-theme-bgcolor);
    color: var(--default-theme-color);
    width: var(--grid-min-size);
    height: auto;
    border: .5rem double var(--shelf-theme-bgcolor);
    border-radius: var(--general-border-radius);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

div.prompt form {
    display: grid;
    grid-template-rows: auto;
    grid-auto-rows: auto;
    gap: 2rem;
}

div.prompt h2 {
    font-weight: bold;
}

input {
    background-color: var(--fade-theme-bgcolor);
    outline-color: var(--general-theme-bgcolor);
    height: 5rem;
    width: 100%;
    border: none;
    border-radius: var(--general-border-radius);
    text-align: left;
    padding: 1.5rem;
    cursor: text;
}

form button {
    background-color: var(--general-theme-bgcolor);
    border-radius: var(--general-border-radius);
    height: 5rem;
    border: none;
    font-size: var(--largest-font-size);
    font-weight: bold;
}

form button:active,
form button:hover,
form button:focus {
    background-color: var(--valid-theme-bgcolor);
}

div.reading {
    height: 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form label {
    text-align: start;
    font-size: var(--larger-font-size);
}

/* credit goes to: Vineeth.TR */

.checkbox {
    position: relative;
    display: inline-block;
}

.checkbox label {
    width: 9rem;
    height: 4rem;
    background: #ccc;
    position: relative;
    display: inline-block;
    border-radius: 5rem;
    transition: .4s;
}

.checkbox label::after {
    content: '';
    position: absolute;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    left: 0;
    top: -5px;
    z-index: 2;
    background: #fff;
    box-shadow: 0 0 5px rgba(0, 0, 0, .2);
    transition: .4s;
}

input[type=checkbox] {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

input[type=checkbox]:hover+label:after {
    box-shadow: 0 2px 15px 0 rgba(0, 0, 0, .2), 0 3px 8px 0 rgba(0, 0, 0, .15)
}

input[type=checkbox]:checked+label:after {
    left: 40px;
}

.checkbox:after {
    content: '✖';
    color: #aaa;
    position: relative;
    left: 2rem;
    bottom: 3.5rem;
}

.checkbox:before {
    content: '✓';
    position: relative;
    right: 2rem;
    top: 3rem;
    color: #000;
    z-index: 1;
}

.checkbox label {
    width: 80px;
    background: #EAEAEA;
    box-shadow: 0 0 1px 2px rgba(0, 0, 0, .15);
}

.checkbox label:after {
    top: 0;
    width: 4rem;
    height: 4rem;
}

input[type=checkbox]:checked+label {
    background: var(--valid-theme-bgcolor);
}

input[type=checkbox]:checked+label:after {
    left: 40px;
}

div.header,
div.footer {
    background-color: var(--general-theme-bgcolor);
    min-height: 10vh;
    display: flex;
    align-items: center;
}

div.header {
    justify-content: space-between;
}

div.footer {
    justify-content: center;
}